.nav_links li,
a {
  font-weight: 500;
  font-size: 22px;
  color: #edf0f1;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

header {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  height: 100px;
  width: 150px;
}

.nav_links {
  list-style: none;
  margin-right: 600px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 50px;
}
